/*公共样式*/
body, div, ul, li, h1, h2, h3, h4, h5, h6, span, a, p{
    margin: 0px;
    border: 0px;
    padding: 0px;
    font-family: "微软雅黑";
    font-size: 12px;
}
a{
    text-decoration: none;
}
a:hover{
    cursor: pointer;
}
ul,li{
    list-style-type: none;
}

img{
    display: block;
    border: none;
}

p{
    display: inline-block;
}

.clearfix{
    zoom: 1;
}

.clearfix:after{
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}